<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Growl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <!-- allow proxy configuration in a separate file so it does not get overwritten when the application is updated -->
  <appSettings file="proxy.config">
  </appSettings>

  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true" />
  </system.net>
  
  <userSettings>
        <Growl.Properties.Settings>
              <setting name="AutoStart" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="FormSize" serializeAs="String">
                    <value>670, 390</value>
              </setting>
              <setting name="FormLocation" serializeAs="String">
                    <value>-1, -1</value>
              </setting>
              <setting name="AllowNetworkNotifications" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="AllowForwarding" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="DefaultDisplay" serializeAs="String">
                    <value>Standard</value>
              </setting>
              <setting name="HistoryDays" serializeAs="String">
                    <value>7</value>
              </setting>
              <setting name="HistorySortBy" serializeAs="String">
                    <value>Date</value>
              </setting>
              <setting name="EnableLogging" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="RequireLocalPassword" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="DefaultSound" serializeAs="String">
                    <value />
              </setting>
              <setting name="CheckForIdle" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="IdleAfterSeconds" serializeAs="String">
                    <value>180</value>
              </setting>
              <setting name="SubscriptionTTL" serializeAs="String">
                    <value>300</value>
              </setting>
              <setting name="AllowSubscriptions" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="KeyboardShortcutCloseLast" serializeAs="String">
                    <value>Alt+X</value>
              </setting>
              <setting name="KeyboardShortcutCloseAll" serializeAs="String">
                    <value>Alt+Shift+X</value>
              </setting>
              <setting name="AllowWebNotifications" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="EnableSubscriptions" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="DisableLegacySupport" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="ManuallyEnableNewApplications" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="AutomaticallyCheckForUpdates" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="CultureCode" serializeAs="String">
                    <value />
              </setting>
              <setting name="MuteAllSounds" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="DisableBonjour" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="MachineID" serializeAs="String">
                    <value />
              </setting>
              <setting name="DisableMissedNotifications" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="GNTPForwardHashType" serializeAs="String">
                    <value>SHA256</value>
              </setting>
              <setting name="GNTPForwardEncryptionAlgorithm" serializeAs="String">
                    <value>AES</value>
              </setting>
              <setting name="EmailForwardFromAddress" serializeAs="String">
                    <value>growl@growlforwindows.com</value>
              </setting>
              <setting name="SettingsVersion" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="RequireLANPassword" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="TwitterConsumerKey" serializeAs="String">
                    <value />
              </setting>
              <setting name="TwitterConsumerSecret" serializeAs="String">
                    <value />
              </setting>
              <setting name="HistoryView" serializeAs="String">
                    <value />
              </setting>
              <setting name="HistoryColumnWidths" serializeAs="String">
                    <value />
              </setting>
        </Growl.Properties.Settings>
    </userSettings>
</configuration>