<?xml version="1.0" encoding="utf-8" ?>

<!-- if you dont run a proxy server OR want Growl to auto-detect your IE proxy settings, leave this file as-is -->
<!-- otherwise, if you want to override your default IE proxy address or port OR you need to pass custom authentication credentials, set those values here -->
<appSettings>
  <add key="ProxyAddress" value=""/>
  <add key="ProxyUsername" value=""/>
  <add key="ProxyPassword" value=""/>
  <add key="ProxyDomain" value=""/>
</appSettings>


<!-- To use your default Windows credentials, but override your proxy address:
<appSettings>
  <add key="ProxyAddress" value="http://myproxy.com:8080"/>
  <add key="ProxyUsername" value=""/>
  <add key="ProxyPassword" value=""/>
  <add key="ProxyDomain" value=""/>
</appSettings>
-->

<!-- To use your IE settings but use custom authentication credentials:
<appSettings>
  <add key="ProxyAddress" value=""/>
  <add key="ProxyUsername" value="user"/>
  <add key="ProxyPassword" value="pass"/>
  <add key="ProxyDomain" value="domain"/>
</appSettings>
-->