<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GrowlExtras.OutlookAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <GrowlExtras.OutlookAddIn.Properties.Settings>
        <setting name="EnableNewMailNotifications" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="EnableReminderNotifications" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="Password" serializeAs="String">
          <value />
        </setting>
      </GrowlExtras.OutlookAddIn.Properties.Settings>
    </userSettings>
</configuration>