<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vortex.Growl.WindowsClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Vortex.Growl.WindowsClient.Properties.Settings>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>516, 414</value>
            </setting>
            <setting name="FormLocation" serializeAs="String">
                <value>200, 200</value>
            </setting>
            <setting name="NetworkPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ListenForNetworkNotifications" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowRemoteRegistration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowForwarding" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultDisplay" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="ListenForWebNotifications" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoEnableWebNotifications" serializeAs="String">
                <value>False</value>
            </setting>
        </Vortex.Growl.WindowsClient.Properties.Settings>
    </userSettings>
</configuration>