html {
	height:100%;
}
body {
	margin:0;
	font-family:"Lucida Grande", Arial, sans-serif;
	min-height:74px;
	position:relative;
	font-size:11px;
	line-height:14px;
}
#top {
	position:absolute;
	left:15px;
	top:0;
	width:300px;
	height:21px;
	z-index:-1;
	background-image:url(images/top.png);
}
#middle {
	position:absolute;
	left:15px;
	top:5px;
	width:300px;
	height:100%;
	overflow:hidden;
	z-index:-2;
}
#middle img {
	position:relative;
	left:0;
	top:16px;
	width:300px;
	height:100%;
}
#bottom {
	position:absolute;
	left:15px;
	bottom:0;
	width:300px;
	height:6px;
	margin-bottom:-11px;
	z-index:1;
	background-image:url(images/bottom.png);
}
#icon {
	position:absolute;
	float:left;
	margin:28px 10px 0 22px;
	width:48px;
	height:100%;
}
#icon img {
	width:48px;
	height:48px;
}
#title {
	position:absolute;
	left:0;
	top:0;
	width:300px;
	height:20px;
	padding-top:2px;
	margin-left:15px;
	overflow:hidden;
	text-align:center;
	color:#e8e8e8;
	/* uncomment this if you want to have an "x" (close) button
	   in the top left corner (which does nothing really)
	background:url(images/button.png) no-repeat 19px 2px;*/
}
#text {
	position:relative;
	width:225px;
	padding:26px 5px 0 75px;
	overflow:hidden;
	color:#ddd;
}
#emergency #text {
	color:#f44;
}
#high #text {
	color:#fc3;
}